.movie_grid{
    display: grid;
    column-gap: 15px;
    grid-template-columns: 100fr;
    gap: 15px;
}
h1{
    grid-column: 1;
    grid-row: 1;
}
#movie_mocap{
    grid-column: 1;
    width: 100%;
}
#text1{
    grid-column: 1;
}

@media screen and (min-width:1000px) {
    #header{
        padding-inline: 20px;
    }
    #text1{
        grid-column: 2;
    }
    .movie_grid{
        grid-template-columns: 30fr 40fr;
        column-gap: 10%;
    }
    h1{
        margin-top: 0;
    }
}
