.mocap_grid{
    display:grid;
    grid-template-columns: 100fr;
    gap: 15px;
}
figure > img{
    width: 100%;
}
figure{
    margin: 0;
    width: 100%;
}
h2{
    grid-column: 1;
    margin-top: 0;
}
#text1 {
    grid-column: 1;
}
#star_wars{
    width:100%;
    grid-column: 1;
    grid-row: 1;
}

#alita{
    width:100%;
    grid-column: 1;
}

#alita2{
    width:100%;
    grid-column: 1;
}
#one{
    display: flex;
    align-items: start;
    flex-direction: column;
    width: 100%;
    grid-row: 3;
}

h2{
    font-size: 24px;
}
h3{
    font-size: 20px;
}

header{
    width: 100%;
}


@media screen and (min-width:1000px){
    #intro{
        grid-column: 2;
        margin-top: 0;
    }
    #text1 {
        grid-column: 2;
    }
    #text1 > h3{
        margin-top: 0;
    }
    #text2{
        grid-column: 2;
    }
    #text2 > h3{
        margin-top: 0;
    }
    #star_wars{
        width:100%;
        grid-row: 1;
    }
    #alita{
        width:100%;
        grid-column: 1;
    }
    #alita2{
        width:100%;
        grid-column: 1;
    }
    .mocap_grid{
        grid-template-columns: 30fr 40fr;
        column-gap: 10%;
    }
    #one{
        grid-column: 1;
        grid-row: 2;
        row-gap: 2.5%;
    }
    h3{
        font-size: 30px;
    }
}