.home_grid{
    display: grid;
    grid-template-columns: 100fr;
}
#intro{
    grid-column: 1;
}
#header{
    color: #3a2e21;
    grid-column: 1;
    font-size: 38px;
    margin-bottom: 3.5%;
    margin-top: 0;
    border-bottom: 2px solid #3a2e21;
    padding-bottom: 15px;
}
h2{
    color: #3a2e21;
}
section{
    padding: 0;
}
main{
    background:#d0b8ac;
    
}
@media screen and (min-width:350px){
    main{
        position: relative;
        isolation: isolate;
    }
    main::after{
        content: '';
        background: #d0b8ac;
        position: absolute;
        z-index: -1;
        top: 0;
        right: 0;
        border-top: 30vh solid #f9efea;
        border-left: 40vw solid #d0b8ac;
        width: 0;
    }
    .home_grid{
        display: grid;
        grid-template-columns: 40fr 30fr;
    }
}

@media screen and (min-width:1000px){
    
    li::marker{
        font-size: 25px;
    }
    #toc li a{
        font-size: 25px;
    }
    h2{
        font-size: 30px;
    }
    #header{
        font-size: 50px;
    }
    p{
        font-size: 25px;
    }
    main{
        position: relative;
        isolation: isolate;
    }
    main::after{
        content: '';
        background: #d0b8ac;
        position: absolute;
        z-index: -1;
        top: 0;
        right: 0;
        border-top: 30vh solid #f9efea;
        border-left: 40vw solid #d0b8ac;
        width: 0;
    }
    #toc li a{
        font-size: 25px;
    }
}