.video_games{
    display: grid;
    grid-template-columns: 100fr;
    gap: 15px;
}

#DBH_mocap{
    width: 100%;
    grid-column: 1;
}
h1{
    grid-column: 1;
}

#text1{
    grid-column: 1;
}
header{
    width: 100%;
}

@media screen and (min-width:1000px) {
    #DBH_mocap{
        width: 100%;
    }
    .video_games{
        display: grid;
        column-gap: 10%;
        grid-template-columns: 30fr 40fr;
    }
    #text1{
        grid-column: 2;
    }
    
}