#header{
    color: #3a2e21;
    /* background: #3a2e21; */
    text-align: center;
    font-size: 38px;
}
header{
    /* border: 3px solid #3a2e21; */
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 100px;
    margin-bottom: 20px;
    /* background: #3a2e21; */
    /* border-top-left-radius: 20px;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 50px; */
}
nav ul{
    list-style-type: none;
    margin:0;
    padding: 0;
}

.navigation{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-rows: auto ;
    
}

nav ul div a{
    display: flex;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    justify-content: space-evenly;
    color: #3a2e21;
    font-weight: bold;
    font-size: 25px;
    
   
}
.navigation a:hover{
    background-color: #e3dcdb;
    color:#7b5d43;
}

body{
    background-color:#e3dcdb;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, Arial, sans-serif;
    padding: 20px;
    margin: 5px;
}
main{
    border: 1px solid #3a2e21;
    color: #614827;
    margin: 32px;
    padding: 50px;
}

h2, h3{
    font-size: 28px;
}

p{
    margin: 10px;
    font-size: 18px;
}

#button{
    /* background-color:#33210A ; */
    background-color: #85796A;
    border:none;
    color:white;
    margin-top: 50px;
    padding: 12px 28px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    border-radius: 30px;
    transition-duration: 0.5s;
}
#button:hover{
    background-color: #33210A;
    color:white;
}


/* @media screen and (min-width:1000px) {
    header, h1, h2, h3{
        font-size: 18px;
    }
    p{
        font-size: 16px;
    }
}

@media screen and (min-width:390px){
    header{
        font-size: 14px;
    }
    h1, h2, h3{
        font-size: 14px;
    }
    p{
        font-size: 12px;
    }
} */